.artesanato__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
}

.artesanato__item div {
    border-radius: 20px;
    overflow: hidden;
}

.artesanato__item div img {
    width: 100%;
    height: 100%;
}